<div>
    <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex">
        <button class="btn btn-link" *ngIf="!status" (click)="editButton()">Edit Admin Profile</button>
    </div>
    <form action="" *ngIf="status">
        <label for="ii">
            <input type="file" name="f" id="ii" style="display: none;" (change)="getFile($event)">
            <img [src]="profilePicture" class="img-fluid" alt="" style="height: 300px;">
        </label>

        <input type="email" [(ngModel)]="adminData.email" name="em" placeholder="Email" class="my-3 form-control">
        <input type="text" [(ngModel)]="adminData.password" name="ps" id="" placeholder="Password" class="form-control mb-3">

        <div class="d-flex justify-content-between">
            <button class="btn btn-success" (click)="handleupdate()">Update</button>
            <button class="btn btn-danger" (click)="cancelButton()">Cancel</button>
        </div>
    </form>
</div>