.banner{
    background-image: url('https://www.shutterstock.com/image-vector/linkedin-banner-abstract-futuristic-design-260nw-2271478127.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}